{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">TOTAL</th>
        </tr>
    </thead>
   <tbody>
            {% for purschase in purschases %}
            <tr>
                <td class="text-start">{{ purschase.symbol }}</td>
                <td class="text-end">{{ purschase.total_shares }}</td>
                <td class="text-end">{{ purschase.price | usd }}</td>
                <td class="text-end">{{ purschase.total | usd }}</td>
            </tr>
            {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
            <td class="border-0 text-end">{{ cash | usd }}</td>
        </tr>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
            <td class="border-0 w-bold text-end">{{ amount | usd }}</td>
        </tr>
    </tfoot>
</table>
{% endblock %}
